@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Thai", "Inter", sans-serif;

  /* Monochrome / Ultra Clean Theme */
  --color-primary: #171717;
  /* Neutral-900 */
  --color-secondary: #525252;
  /* Neutral-600 */
  --color-accent: #a3a3a3;
  /* Neutral-400 */

  --color-bg-paper: #ffffff;
  /* Pure White */
  --color-text-ink: #0a0a0a;
  /* Neutral-950 */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-bg-paper);
  color: var(--color-text-ink);
}